<div class="cube">
  <div class="side oneA"></div>

  <div class="side twoA">
    <div class="innerdisplay">

      <div id="gameboy_shell">
        <div id="game">
          <canvas id="mainCanvas"> No Canvas Support </canvas>
        </div>

      </div>
      <script src="web/js/other/mobile.js"></script>
      <script src="web/js/other/base64.js"></script>
      <script src="web/js/other/swfobject.js"></script>
      <script src="web/js/other/resampler.js"></script>
      <script src="web/js/other/XAudioServer.js"></script>
      <script src="web/js/other/controls.js"></script>
      <script src="web/js/other/resize.js"></script>
      <script src="web/js/GameBoyCore.js"></script>
      <script src="web/js/GameBoyIO.js"></script>
    </div>
  </div>

  <div class="side threeA"></div>
  <div class="side fourA"></div>
  <div class="side fiveA"></div>




</div>
