

<html land="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Demo GB</title>
    <link rel='stylesheet' href='/css/main.css'>
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Rubik&display=swap" rel="stylesheet">
		<script src="web/js/other/jquery.js"></script>
  </head>
