<% if (modal) {%>
<div class="modalbg">

</div>

<div class="modalFormbox">
	<h1>Welcome to Demo GB</h1>
	<h2> Below is a quick guide to get you started</h2>
	<img class="howtoimg"src="/images/howto.gif" alt="How to slide show">
		<form action="/modalclose/" method="GET">
			<input type="submit" value="Yeah, yeah got it" class="darkmagentabg white" />
		</form>
</div>
<% } %>
