

<div class="sideMenu">
	<a href="/play"> Play Demos </a>
	<a href="/publish"> Publish My Demo  </a>
	<a href="/playdemos"> My Demos </a>
	<!-- <a> My Console </a> -->
	<br>
	<a href="/signout"> Sign Out </a>
</div>
