<div class="secretcube">
    <div class="innerdisplay">

        <div id="controller">
          <div id="controller_dpad">
            <div id="controller_left"></div>
            <div id="controller_right"></div>
            <div id="controller_up"></div>
            <div id="controller_down"></div>
          </div>
            <div id="controller_select" class="capsuleBtn">Select</div>
            <div id="controller_start" class="capsuleBtn">Start</div>
            <div id="controller_b" class="roundBtn">B</div>
            <div id="controller_a" class="roundBtn">A</div>
        </div>

          <script src="web/js/other/mobile.js"></script>
          <script src="web/js/other/base64.js"></script>
          <script src="web/js/other/swfobject.js"></script>
          <script src="web/js/other/resampler.js"></script>
          <script src="web/js/other/XAudioServer.js"></script>
          <script src="web/js/other/controls.js"></script>
          <script src="web/js/other/resize.js"></script>
          <script src="web/js/GameBoyCore.js"></script>
          <script src="web/js/GameBoyIO.js"></script>
        </div>
</div>
