<!DOCTYPE html>
<html lang="en" dir="ltr">
<% include partials/head.ejs %>

<body>
	<div>
		<input type="hidden" id="gamefile" value=<%= currentGameFile %> >
		<input type="hidden" id="gameArt" value=<%= currentGameArt %> >
		<input type="hidden" id="gametitle"  value=<%= currentGameTitle %>>
	</div>

	<div>
		<% include partials/menu.ejs %>
	</div>

  <div class="gameboyContainer">
    <% include partials/gameboyconsole.ejs %>
  </div>

  <div class="lets-get-physical">
    <% include partials/letsgetphysical.ejs %>
  </div>

	<div id="secretGB">
		<% include partials/secretgameboyconsole.ejs %>
	</div>


</body>


</html>
