<!DOCTYPE html>
<html lang="en" dir="ltr">
<% include partials/head.ejs %>

<body>

	<div>
		<% include partials/menu.ejs %>
	</div>

  <div class="gameboyContainer">
    <% include partials/gameboyconsole.ejs %>
  </div>

</body>


</html>
