<!DOCTYPE html>
<html lang="en" dir="ltr">
<% include partials/head.ejs %>

<body>
	<form class="orderForm">
		<h3> STRIP PAYMENT HERE </h3>
		<input type="text" name="" value="COOL STORY BRO">
	</form>
</body>
