<!DOCTYPE html>
<html lang="en" dir="ltr">
<% include partials/head.ejs %>

<body>
  <div class="">
    <h1> My demos </h1>
		<% data.forEach(function(game){ %>
			<div class="cartridge">
			  <div class="part part_1"></div>
			  <div class="part part_2">
			    <div class="part stripe"></div>
			    <div class="part stripe"></div>
			    <div class="part stripe"></div>
			    <div class="part stripe"></div>
			    <div class="part stripe"></div>
			  </div>
			  <div class="part logo"><p>Nintendo <span>Gameboy</span></p></div>
			  <div class="part large"></div>
			  <div class="part dark">
			    <div class="part"></div>
			  </div>
			  <div class="part dark image_bg">
			    <div class="part gameimage">
			    	<img src=<%= game.coverArt %> alt=<%= game.title %> id="sticker">
			    </div>
			  </div>
			  <div class="part triangle"></div>
				<div>
					<h1>
						<form action="/playthisgame/" method="POST">
							<input type="hidden" name="gameTitle" value=<%= game.title %> >
							<button type="submit"/> Play </submit>
						</form>
					</h1>
				</div>
			</div>



		<% }) %>
  </div>



</body>


</html>
