<!DOCTYPE html>
<html lang="en" dir="ltr">
<% include partials/head.ejs %>

<body>
  <div class="">
    <h1> My demos </h1>
		<% data.forEach(function(item){ %>
			<h2> <%= item.title %> </h2>
		<% }) %>
  </div>



</body>


</html>
