<!DOCTYPE html>
<html lang="en" dir="ltr">
<% include partials/head.ejs %>
<% include partials/background.ejs %>

<body>
  <div class="errorScreen">
    <h1>  Please login in or sign up to continue <h1>
  </div>

</body>


</html>
