<!DOCTYPE html>
<html lang="en" dir="ltr">
<% include partials/head.ejs %>
<% include partials/background.ejs %>

<body>
  <div class="errorScreen">
    <h1>  Please 	<a href="/signin"> sign in </a> or <a href="/signup ">sign up</a> to continue <h1>
  </div>

</body>


</html>
