<!DOCTYPE html>
<html lang="en" dir="ltr">
<% include partials/head.ejs %>

<body>
  <div class="">
    <h1> Publish Demos </h1>
  </div>
	<div>
		<form action"/publish/" method="POST" enctype="multipart/form-data">
			<!-- <input type="text" placeholder="Game Title" name="title"> <br/>
			<input type="text" placeholder="Game Description" name="description"> <br/> -->
			<input type="file" name="gamefile" id="file"> <br/>
			<button type="submit"/> Publish </submit>
		</form>
			<span class="errorZone"> <%= error %> </span> <br/>
		<!-- <form action="/publish/" method="post" enctype="multipart/form-data" >
			<input type="text" placeholder="Game Title" name="title">
			<br/>
			<textarea type="text" placeholder="Description" name="description"> </textarea>
			<br/>
			<input type="file" name="gamefile" id="gamefile">
			<span class="errorZone"> <%= error %> </span>
			<br/>
			<button type="submit"/> Publish  </submit>
		</form> -->
	</div>


</body>


</html>
