<!DOCTYPE html>
<html lang="en" dir="ltr">
<% include partials/head.ejs %>

<body>
  <div class="">
    <h1> Publish Demos </h1>
  </div>
	<div>
		<form action"/publish/" method="POST">
			<input type="text" placeholder="Game Title" name="title">
			<br/>
			<textarea type="text" placeholder="Description" name="description"> </textarea>
			<br/>
			<span class="errorZone"> <%= error %> </span>
			<br/>
			<button type="submit"/> Publish  </submit>
		</form>
	</div>


</body>


</html>
