<!DOCTYPE html>
<html lang="en" dir="ltr">
<% include partials/head.ejs %>

<body>

  <div class="">
    <h1> SIGN IN PAGE </h1>
  </div>

  <form action="/signin/" method="POST">
		<input type="text" placeholder="Username" name="username"> <br/>
    <input type="password" placeholder="Password" name="password"> <br/>
				<span class="invalidPassword">  </span> <br/>
    <input type="submit" value="Sign In" />
  </form>
  <span>Not a member? <a href="/signup"> sign up here </a></span>


</body>


</html>
